
<style>
body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;

}

.topnav {
  overflow: hidden;
  background-color: #333;
  width:100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Bebas Neue', cursive;
  position: fixed;
  top:0; 

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;



}

.topnav-header {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;

}

.topnav a.active {
  background-color: #72768a;
  color: white;

}


.bg {
  background-position: center;
  background-size: cover;
}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}
</style>
