@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
 background-image: url(https://images.unsplash.com/photo-1523305846158-488dedcf8629?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
 background-attachment: fixed;
  background-position: center;

}

.topnav {
  overflow: hidden;
  background-color: #333;
  width:100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Bebas Neue', cursive;
  position: fixed;
  top:0;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;



}

.topnav-header {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;

}

.topnav a.active {
  background-color: #72768a;
  color: white;

}


.bg {
  background-position: center;
  background-size: cover;
}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

.resume {
    display: grid;
    width  : 200mm;
    /* hardcoded purely for codepen example */
    height: 200mm;
    /* hardcoded purely for codepen example */
    grid-template-columns: 2fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr 1fr;
    box-shadow           : 0 5px 9px 0 rgba(0, 0, 0, 0.35);
    grid-gap             : 5px;
    grid-template-areas  :
        "name  photo"
        "work  about"
        "work  education"
        "community  skills";

}

.circle {
    border       : 1px solid black;
    height       : 50px;
    width        : 50px;
    border-radius: 50%;
}

.grid-area {
    padding: 1em 1em 1em 1em;
    border : 1px black solid;
}

.name {
    grid-area: name;
    background-color: grey;
    opacity: 0.6;

}

.photo {
    grid-area: photo;
}

.about {
    grid-area: about;
}

.work {
    grid-area: work;
    background-color: grey;
    opacity: 0.6;
}

.skills {
    grid-area: skills;
    background-color: grey;
    opacity: 0.6;
}

.education {
    grid-area: education;
}

.community {
    grid-area: community;
}

.wrapper {
  margin-top: 7rem;


    padding        : 0;
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
}
.education {
  font-style: normal;
  

}
