body {
  background-color: black;
}

h1 {
  display: block;
  font-size: 2em;
  color: White;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align:left;
}

h2,h3 {
  display: block;
  font-size: small;
  color: White;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align:left;
}

<hr style="height:4px;border-width:1;color:gray;background-color:gray">

h4 {
  display: block;
  font-size: xlarge;
  color: White;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align:left;
  text-decoration-line: underline;
  text-decoration-color: green;
}
hr.solid {
  border-top: 3px solid #bbb;
}
