body {
  background-color: black;
}
h1 {
  display: block;
  font-size: 2em;
  color: White;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
img {
  border-radius: 1%;
  style="width:200px"
}

<hr style="height:4px;border-width:1;color:gray;background-color:gray">
